body{
    margin: 0;
    background-color: black;
    color: white;
}

.bg-fortnite{
    background-image: url('./img/fortnite.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.w-100{
    width: 100%;
}

.h-100vh{
    height: 100vh;
}

.txt-center{
    text-align: center;
}

.overflow-hidden{
    overflow: hidden;
}

.d-flex{
    display: flex;
}

.d-none{
    display: none;
}

.start-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-content{
    background: rgba(0,0,0,25%);
    width: 35%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Moving Letters */

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }