body{
    margin: 0;
    background-color: black;
    color: white;
}

.bg-fortnite{
    background-image: url('./img/fortnite.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pointer{
    cursor: pointer;
}

.bg-1{
    background: rgba(0,0,0,25%);
}

.w-100{
    width: 100%;
}


.h-100vh{
    height: 100vh;
}

.h-75{
    height: 75%;
}

.txt-center{
    text-align: center;
}

.overflow-hidden{
    overflow: hidden;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.relative{
    position: relative;
}

.d-none{
    display: none;
}

.padding{
    padding: 34px;
} 
.margin-bt{
    margin-bottom: 12px;
}

.start-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size{
    width: 850px;
    height: 600px;
}

.a{
    width: 375px;
    text-decoration: none;
    font-size: 45px;
    border: solid 1px rgba(0,0,0,50%);
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: white;
    background-color: rgba(0,0,0,25%);
    cursor: pointer;
}

.a:hover{
    background-color: rgba(0,0,0,40%);
}

.start-content{
    
    width: 35%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 200px;
    height: 35px;
    font-size: 32px;
    text-align: center;
    outline-color: green;
    background-color: lightblue;
    color: grey;
    margin-top: 12px;
    margin-bottom: 12px;
}

.save-btn{
    margin-top: 12px;
    width: 125px;
    height: 35px;
    background-color: lightblue;
}

.discription-vokabulary-container{
    font-size: 24px;
}

.cross{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
    filter: invert(1);
}
.cross-mexy{
    width: 45px;
    height: 45px;
    position: fixed;
    top: 35px;
    right: 35px;
    cursor: pointer;
    filter: invert(1);
}

.cross-test{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    filter: invert(1);
}

.bus{
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px lightgrey;
}

.font-size24px{
    font-size: 24px;
}

.vokabulary-container{
    border: solid 2px lightgray;
    border-radius: 12px;
    padding: 24px;
    margin: 4px;
    width: 225px;
    height: 85px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(218 230 13 / 50%);
    color: black;
    text-align: center;
}

.h-42-5{
    min-height: 42.5;
}

#vokabularyList{
    display: flex;
    flex-wrap: wrap;
    margin-left: 24px;
}

.border-btm{
    border-bottom: 1px solid black;
}

#vokabelIndexContainer{
    width: 100%;
    background-color: aquamarine;
    min-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(./img/mexify.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
}

#vokabularyTestContainer{
    width: 100%;
    background-color: aquamarine;
    min-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(./img/mexify.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: scroll;
}


/* Moving Letters */

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
  }

/*Loading Spinner */

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid rgb(15, 233, 237);
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    border-color: #0104ae;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }